@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body { 
  font-family: 'Space Mono', monospace; 
  font-size: 25px;
  display: flex;
  flex-direction: column;
  max-width: 900px;
  padding: 32px;
  margin: 60px auto;
  border: 1px solid #eee;
  box-shadow: 0px 12px 24px rgba(0, 0, 0, 0.541);
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizelegibility;
}

ol { padding-left: 50px; }
li { 
  color: #4F4F4F; 
  padding-left: 16px;
  margin-top: 24px;
  position: relative;
  font-size: 16px;
  line-height: 20px;
  &:before {
    content: '';
    display: block;
    height: 42px;
    width: 42px;
    border-radius: 50%;
    border: 5px solid #ddd;
    position: absolute; 
    top: -12px;
    left: -46px;
    font-size: 1000px;
  }
}

strong { color: #292929; }

ol.alternating-colors { 
  li:nth-child(odd):before { border-color: #0BAD02; }
  li:nth-child(even):before { border-color: #2378D5; }
}
.mod{
  font-size: 17px;
  width: 200px;
  height: 25px;
  margin-top: 10px;
  border-radius: 5px;
  border: 2px solid #2378D5;
}
.mod_note{
  font-size: 17px;
  width: 50px;
  height: 25px;
  margin-top: 10px;
  border-radius: 5px;
  border: 2px solid #2378D5;
}
button{
  transition: 0.2s;
}
button:hover{
  scale: 1.05;
  transition: 0.2s;
}
.btn_borrar{
  font-size: 17px;
  width: 250px;
  height: 40px;
  margin-top: 10px;
  border-radius: 5px;
  border: 2px solid #2378D5;
}
.error_css{
  margin: -15px auto -10px; 
  color: red;
  font-size: 20px;
}
.find_css{
  margin: -15px auto -10px; 
  color: green;
  font-size: 20px;
}
.aprobados_css{
  color: rgb(40, 40, 175);
  font-size: 18px;
}


